@model BlogCore.Model.Category

@{
	ViewData["Tittle"] = "Edit a Category";
}

<br />
<br />


<h3>Create a new Category</h3> 

<form method="POST" asp-action="Edit">
	<div class="row px-2 offset-1 border">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="col-10 offset-1 mt-4">
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Name"></label>
				</div>
				<div class="col-8">
					<input asp-for="Name" class="form-control" placeholder="Name"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>

			<br />

			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Order"></label>
				</div>
				<div class="col-8">
					<input asp-for="Order" class="form-control" placeholder="Order"></input>
					<span asp-validation-for="Order" class="text-danger"></span>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-primary form-control">Edit Category</button>
				</div>
				&nbsp;
				<div class="col">
					<a asp-action="Index" class="btn btn-success form-control">Go Back</a>
				</div>
			</div>
		</div>

	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial.cshtml" />
	}
}